div {
  
    font-family: verdana;
    font-size: 15px;
    padding: 1px 1px;
    margin: 1px 0;
  }
  .center {
    margin: auto;
    width: 60%;
    border: 3px solid red;
    padding: 10px;
  }
  button {
    color: white;
    margin-top: 20px;
    background: #1DA1F2;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 900;
    box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
    transition: 0.5s;
  }
  button:hover {
    box-shadow: none;
  }
  

  
  